SPRING_PROFILE=dev
SERVER_PORT=8080

DB_URL=jdbc:postgresql://postgres:5432/shortin_db
DB_NAME=shortin_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

API_ENCODER_LENGTH=6
API_ENCODER_ALPHABET=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789
API_ENCODER_BASE=62
API_ENCODER_ALGORITHM=SHA-256